@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/map">Interactive Map</a>


<div class="text-center">
    <h1 class="h1">Historical Weather Finder</h1>
</div>

<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>MIST 353 Project</h1>
    <p>This is a project for MIS 353</p>
</div>

