@page
@model BartlettProject.Pages.Index1Model
@{
}
<!--ChatGPT "How can I make a HTML header that has an animated blue gradient"-->

<head>
	<style>
		h1 {
			color: blue;
			transition: color 4s;
		}
	</style>
</head>
<body>

	<h1 id="myHeading">Interactive Weather Map</h1>

	<script>
		var colors = ["blue", "dodgerblue", "deepskyblue", "aqua", "cyan"];
		var i = 0;

		function changeColor() {
			document.getElementById("myHeading").style.color = colors[i];
			i = (i + 1) % colors.length;
		}

		setInterval(changeColor, 1000);
	</script>

</body>


<h2 class="h2">Click on the map below for instant weather data for the area</h2>
<img src="placeholdermap.jpg" alt="tempMap"/>
<h2 class="h2">This is a temporary image of a map (does nothing)</h2>